<?xml version="1.0"?>
<config>
    <modules>
        <DirtyDozen_CmsRelations>
            <version>0.1.0</version>
        </DirtyDozen_CmsRelations>
    </modules>
    <global>
        <models>
            <cmsrelations>
                <class>DirtyDozen_CmsRelations_Model</class>
                <resourceModel>cmsrelations_mysql4</resourceModel>
            </cmsrelations>
            <cmsrelations_mysql4>
                <class>DirtyDozen_CmsRelations_Model_Mysql4</class>
                <entities>
                    <cms_page_relation>
                        <table>cms_page_relation</table>
                    </cms_page_relation>
                </entities>
            </cmsrelations_mysql4>
            <cms>
                <rewrite>
                    <page>DirtyDozen_CmsRelations_Model_Cms_Page</page>
                </rewrite>
            </cms>
        </models>
        <resources>
            <cmsrelations_setup>
                <setup>
                    <module>DirtyDozen_CmsRelations</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cmsrelations_setup>
            <cmsrelations_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cmsrelations_write>
            <cmsrelations_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cmsrelations_read>
        </resources>
        <blocks>
            <cmsrelations>
                <class>DirtyDozen_CmsRelations_Block</class>
            </cmsrelations>
        </blocks>
        <helpers>
            <cmsrelations>
                <class>DirtyDozen_CmsRelations_Helper</class>
            </cmsrelations>
        </helpers>
        <events>
            <cms_controller_router_match_before>
                <observers>
                    <cmsrelations>
                        <type>singleton</type>
                        <class>cmsrelations/observer</class>
                        <method>redirectStoreCmsPage</method>
                    </cmsrelations>
                </observers>
            </cms_controller_router_match_before>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <cmsrelations>
                        <type>singleton</type>
                        <class>cmsrelations/observer</class>
                        <method>addRelatedPagesSelector</method>
                    </cmsrelations>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
        </events>
    </global>
    <adminhtml>
      <layout>
          <updates>
              <cmsrelations>
                  <file>cmsrelations.xml</file>
              </cmsrelations>
          </updates>
      </layout>
    </adminhtml>
</config>
